@font-face {
  font-family: Spantaran1 sans-serif;
  src: url(/Fonts/spantaran/Spantaran1.ttf);
}

@font-face {
  font-family: JakartaBold sans-serif;
  src: url(/Fonts/plus-jakarta-sans/PlusJakartaDisplay-Bold.otf);
}

@font-face {
  font-family: JakartaMedium sans-serif;
  src: url(/Fonts/plus-jakarta-sans/PlusJakartaDisplay-Medium.otf);
}

@font-face {
  font-family: JakartaLight sans-serif;
  src: url(/Fonts/plus-jakarta-sans/PlusJakartaDisplay-Light.otf);
}


* {
  font-family: 'Spantaran1' sans-serif;
}

html {
  font-size: 1rem;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1236px;

}

.container-flex {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

/* TYPOGRAPHY */

h1 {
  font-family: Spantaran1 sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 7.8rem;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

h2 {
  font-family: JakartaBold sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 68px;
  letter-spacing: 1.32px;
  color: #fff;
}

h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 50px;
  letter-spacing: 1.32px;
  color: #393737;
}

h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 1rem;
  color: #393737;
  font-weight: 500;
  padding-top: 0;
  margin: 0;
}

p {
  font-family: JakartaMedium sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 24px;
  color: #fff;
  margin: 0;
  text-align: center;

}

/* TYPOGRAPHY END */


/* BUTTON START */

.btn {
  font-family: JakartaBold sans-serif;
  border-radius: 50px;
  padding: 1.6em 4.8em;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: .9rem;
  line-height: 24px;
  letter-spacing: 0.45px;
  color: #fff;
  border: 0;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.btn-red {
  background: #C20618;
}

.btn-blue {
  background: #4E66FF;
  color: #ffffff;
}

.btn-blue {
  background: #393737;
  color: #ffffff;
}

.btn-black-outline {
  border: 1px solid rgba(57, 55, 55, 0.4);
  border-radius: 4px;
  background-color: transparent;
}

/* BUTTON END */



/* HERO SECTION START */
.hero-column {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/hero/hero-img.jpg), linear-gradient(2.23deg, #050401 -16.28%, rgba(9, 48, 84, 0) 266.28%);
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
}

.breaklineMobile {
  visibility: hidden;
  display: none;
}

.hero-col-1 {
  max-width: 905px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  padding-top: 13em;
}

.hero-col-1 p {
  padding-bottom: 2em;
}

/* HERO SECTION END */



/* ABOUT SECTION START */

/* ABOUT SECTION END */


.about-column {
  width: 100%;
  background-image: url(/assets/img/about-us-img.png), linear-gradient(2.23deg, #050401 -16.28%, rgba(9, 48, 84, 0) 266.28%);
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
}

.about-column h2 {
  font-family: Spantaran1 sans-serif;
  text-align: left;
  font-size: 8rem;
  line-height: 173px;
  font-weight: 400
}

.about-column p {
  font-family: JakartaMedium sans-serif;
  text-align: left;
  padding-bottom: 3em;
  line-height: 45px
}





@media (max-width : 600px) {
  html {
    font-size: .7rem;
  }

  .btn-center {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-bottom: 2em;
  }

  .container {
    width: 95%;
  }

  /* TYPOGRAPHY */

  p {
    text-align: left;
  }

  /* TYPOGRAPHY END */

  /* MEDIA HERO */

  .hero-col-1 {
    max-width: 905px;
    width: 100%;
    padding-top: 13em;
  }

  .breakline {
    visibility: hidden;
    display: none;
  }

  .breaklineMobile {
    visibility: visible;
    display: block;
  }

  .hero-col-1 h1 {
    text-align: left;
  }

  .hero-col-1 h2 {
    text-align: left;
    line-height: 28px;
  }

  /* MEDIA HERO END */

}